%nav.navbar.navbar-expand-lg.bg-white.fixed-top
  .container
    .navbar-translate
      %a.navbar-brand{ "data-placement" => "bottom", :href => root_path }
        Gio Rheumer
      %button.navbar-toggler{ "aria-controls" => "navigation-index", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button" }
        %span.navbar-toggler-bar.bar1
        %span.navbar-toggler-bar.bar2
        %span.navbar-toggler-bar.bar3
    .collapse.navbar-collapse{ "data-color" => "orange", "data-nav-image" => asset_path("img/blurred-image-1.jpg") }
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{ :href => root_path }
            About
        %li.nav-item
          %a.nav-link{ :href => root_path }
            Projects
        %li.nav-item
          %a.nav-link{ :href => "https://resume.creddle.io/resume/h94jq9onthp", :target => "_blank" }
            Resume
